bin/firefox/profiles/default/AlternateServices.txt
browser/server/certs/
.temp/
bin/firefox/
browser/extension.xpi
test.ipynb
browser/server/__pycache__/
gpt_tools/__pycache__/
openssl.config
token.txt
test/__pycache__/
docker.log
config.ini
base_config.ini
flask-log.txt
